body {
    font-family: "Qanelas";
}

$grey: #d8d8d8;
$menu: rgba(#0f0f0f, 0.19);

.circle {
    position: relative;
    top: -55px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: $grey;
}

.navbar {
    list-style: none;
    max-width: max-content;
    margin: auto;
    margin-top: 55px;
    li {
        margin-right: 55px;
        cursor: pointer;
        a {
            color: $menu;
            font-family: "Qanelas";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.992366px;
        }

        &.active {
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            a {
                font-family: "Qanelas";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                letter-spacing: 0.992366px;
                color: #000;
            }
            &::after {
                position: absolute;
                top: 30px;
                content: " xsa";
                color: transparent;
                width: 14px;
                height: 4px;
                background-color: #000;
            }
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.circleArea {
    margin-top: 10vh;
}

.circleCar {
    position: relative;
    cursor: pointer;
    .buttonArea {
        opacity: 0;
        position: absolute;
        bottom: 37px;
        display: none;
        transition: all 0.5s;
    }

    button {
        background: #181818;
        border-radius: 100px;
        color: #fff;
        font-family: "Qanelas";
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 14px;
        /* identical to box height */

        text-align: center;
        letter-spacing: 2.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0px;
        z-index: 9999;
        cursor: pointer !important;
        transition: all 0.5s;
    }

    .checked {
        display: none;
        position: absolute;
        right: 75px;
        top: 75px;
        width: 33px;
        height: 33px;
        background-color: #000;
        align-items: center;
        border-radius: 100%;
        justify-content: center;
    }

    .carImage {
        position: absolute;
        bottom: 0px;
        margin: auto;
        width: 100%;
        height: auto;
        text-align: center;
        bottom: 143.12px;
        opacity: 0.4;
        img {
            margin: auto;
        }
        transition: all 0.7s;
    }

    .carDescription {
        width: 100%;
        position: absolute;
        bottom: 78px;
        font-family: "Qanelas";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        display: none;
        line-height: 16px;
        text-align: center;
        z-index: 9;
    }

    .carName {
        width: 100%;
        position: absolute;
        text-align: center;
        top: calc(50% - 174px / 2 - 33px);
        font-family: "Qanelas";
        font-style: normal;
        font-weight: 800;
        font-size: 138.96px;
        line-height: 174px;
        text-align: center;
        letter-spacing: -6.48px;
        color: #00000018;
        opacity: 0;
        transition: all 1s ease-in !important;
    }

    &:hover {
        .buttonArea {
            opacity: 1 !important;
            display: block;
        }
        .carName {
            transition: all 2s !important;
            top: calc(50% - 274px / 2 - 33px);
            display: block !important;
            opacity: 1 !important;
        }
        .carImage {
            opacity: 1 !important;
        }

        button {
            background-color: #fff;
            color: #000;
            box-shadow: 0px 0px 20px rgb(167, 167, 167);
        }
    }

    &.active {
        .checked {
            display: flex !important;
        }
        .carName {
            opacity: 1;
        }
        &::after {
            content: "ds";
            margin: auto;
            width: 507px;
            height: 519px;
            color: transparent;
            display: block !important;
            background-color: transparent;
            opacity: 0.06;
            border: 1px solid #000000;
            border-radius: 253.5px;
        }
        .carDescription {
            display: block;
        }
        .buttonArea {
            opacity: 1;
            display: block;
        }
        .carImage {
            opacity: 1 !important;
        }
    }
    &::after {
        content: "ds";
        margin: auto;
        width: 507px;
        height: 519px;
        color: transparent;
        display: none;
        background-color: transparent;
        opacity: 0.06;
        border: 1px solid #000000;
        border-radius: 253.5px;
        z-index: -1;
    }
}
